


h2{
    margin-left: 500px;
    border: 2px solid black;
    width: fit-content;
    border-radius: 12px;
    color: whitesmoke;
    background-color: blue;
}
p{
    font-weight: bold;
}
.Mainblock{
    border: 2px solid green;
    height: 400px;
    display:flex ;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    position: relative;
    left: 200px;
    background-color: black;
    border-radius: 30px;


}
.Product{
    height:185px ;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    position: relative;
    right: 100px;
    
}
.btnblock{
    display: flex;
    justify-content:space-between ;
    align-items:center ;
    position: relative;
    bottom: 2px;
    left: 100px;

    

}
.imgblock{
   
    margin-left: 200px;

}

.Payment h4{
    font-weight: lighter;
    padding: 10px;
}
.Payment{

    color: white;
    margin-left: 300px;
    border: 1px solid white;
    border-radius: 25px;
     background-color: rgba(226, 226, 3, 0.795);
}

#number{
    color: aliceblue;
}